<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sidebar.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="sidebar-toggle">
      <span class="sidebar-toggle-line"></span>
      <span class="sidebar-toggle-line"></span>
      <span class="sidebar-toggle-line"></span>
    </div>
    
    <div class="sidebar">
      <div class="sidebar-inner">
        <ul class="sidebar-nav">
          <li class="sidebar-nav-toc">
            目录
          </li>
          <li class="sidebar-nav-overview">
            概览
          </li>
        </ul>
        
        <div class="sidebar-post-container">
          <div class="sidebar-post-author">
            <div class="sidebar-post-author-avatar"></div>
            <p class="sidebar-post-author-name">{{ site.title | default: site.github.repository_name }}</p>
          </div>
        </div>
        
        <div class="sidebar-toc">
          <div class="sidebar-toc-content">
            {% include sidebar-toc.html %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="main-container">
      <div class="main-inner">
        <div class="content-wrap">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>